.tab {
  background-color: var(--bg-color-1);
}

.tab:hover {
  background-color: var(--bg-color-4);
}

.tab-active {
  background-color: var(--bg-color-3);
}

.tab-active:hover {
  background-color: var(--bg-color-4);
}
