{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true,
      "preserveAllComments": true
    },
    "target": "es5",
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    
  },
  "module": {
    "type": "commonjs"
  }
}

