@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--color);
}

.disabled {
  color: var(--color-disabled);
  pointer-events: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.opacity {
  background-color: rgba(80, 80, 80, 0.0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.opacity:hover {
  background-color: rgba(80, 80, 80, 1.0);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.scale {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.scale:hover {
  -webkit-transform: scale(1.12);
  -moz-transform: scale(1.12);
  -ms-transform: scale(1.12);
  -o-transform: scale(1.12);
  transform: scale(1.12);
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table tr th,
table tr td {
  border-bottom: 1px solid;
  text-align: center;
  vertical-align: middle;
  border-color: var(--bg-color-4);
}

table tr th:last-child,
table tr td:last-child {
  border-right: 1px solid;
  border-color: var(--bg-color-4);
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid;
  border-color: var(--bg-color-4);
}

table tr th {
  border-top: 1px solid;
  border-color: var(--bg-color-4);
}

table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.theme-classic {
  --bg-color: rgb(51, 51, 51);
  --bg-color-2: rgb(70, 70, 70);
  --bg-color-3: rgb(100, 100, 100);
  --bg-color-4: rgb(150, 150, 150);
  --color: rgb(255, 255, 255);
  --color-disabled: rgb(150, 150, 150);
  --level-block: rgb(215, 155, 154);
  --level-end: rgb(255, 255, 255);
  --level-grid: rgb(100, 118, 50);
  --level-grid-text: rgb(0, 0, 0);
  --level-grid-text-extra: rgb(181, 12, 12);
  --level-grid-used: rgb(126, 152, 26);
  --level-player: rgb(51, 51, 51);
  --level-player-extra: rgb(199, 44, 44);
  --level-player-text: rgb(255, 255, 255);
  --level-wall: rgb(0, 0, 0);
}

.theme-lab {
  --bg-color: rgb(0, 0, 0);
  --bg-color-2: rgb(0, 0, 0);
  --bg-color-3: rgb(159, 159, 159);
  --bg-color-4: rgb(200, 200, 200);
  --color: rgb(255, 255, 255);
  --color-disabled: rgb(150, 150, 150);
  --level-block: rgb(255, 224, 80);
  --level-end: rgb(29, 188, 218);
  --level-grid: rgb(255, 255, 255);
  --level-grid-text: rgb(0, 0, 0);
  --level-grid-text-extra: rgb(255, 0, 0);
  --level-grid-used: rgb(200, 200, 200);
  --level-player: rgb(255, 149, 0);
  --level-player-extra: rgb(244, 54, 54);
  --level-player-text: rgb(0, 0, 0);
  --level-wall: rgb(40, 40, 40);
}

.theme-modern {
  --bg-color: rgb(38, 38, 38);
  --bg-color-2: rgb(50, 50, 50);
  --bg-color-3: rgb(80, 80, 80);
  --bg-color-4: rgb(130, 130, 130);
  --color: rgb(255, 255, 255);
  --color-disabled: rgb(150, 150, 150);
  --level-block: rgb(171, 118, 67);
  --level-end: rgb(229, 229, 229);
  --level-grid: rgb(14, 168, 117);
  --level-grid-text: rgb(0, 0, 0);
  --level-grid-text-extra: rgb(255, 60, 60);
  --level-grid-used: rgb(4, 120, 87);
  --level-player: rgb(244, 114, 182);
  --level-player-extra: rgb(244, 86, 86);
  --level-player-text: rgb(0, 0, 0);
  --level-wall: rgb(0, 0, 0);
}
