@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  ul,
  ol {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: disc;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--color);
}

.fit {
  display: inline-block;
}

span.marqueehover:hover {
  width: auto;
  transform: translateX(-100%);
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table tr th,
table tr td {
  border-bottom: 1px solid;
  text-align: center;
  vertical-align: middle;
  border-color: var(--bg-color-4);
}

table tr th:last-child,
table tr td:last-child {
  border-right: 1px solid;
  border-color: var(--bg-color-4);
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid;
  border-color: var(--bg-color-4);
}

table tr th {
  border-top: 1px solid;
  border-color: var(--bg-color-4);
}

table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.table-padding table tr th,
.table-padding table tr td {
  padding: 0 16px;
}

.theme-accessible div {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
.theme-accessible {
  --bg-color: rgb(0, 0, 0);
  --bg-color-2: rgb(0, 0, 0);
  --bg-color-3: rgb(50, 50, 50);
  --bg-color-4: rgb(80, 80, 80);
  --color: rgb(255, 255, 255);
  --color-complete: rgb(0, 200, 0);
  --color-error: rgb(255, 50, 50);
  --color-gray: rgb(180, 180, 180);
  --color-incomplete: rgb(230, 200, 20);
  --level-block: rgb(0, 0, 0);
  --level-block-border: rgb(255, 193, 7);
  --level-end: rgb(60, 166, 229);
  --level-grid: rgb(255, 255, 255);
  --level-grid-text: rgb(0, 0, 0);
  --level-grid-text-extra: rgb(255, 60, 60);
  --level-grid-used: rgb(247, 127, 171);
  --level-hole: rgb(7,187,202);
  --level-hole-border: rgb(0, 77, 64);
  --level-player: rgb(246, 97, 96);
  --level-player-extra: rgb(255, 55, 55);
  --level-player-text: rgb(0, 0, 0);
  --level-wall: rgb(0, 0, 0);
}

.theme-classic {
  --bg-color: rgb(51, 51, 51);
  --bg-color-2: rgb(70, 70, 70);
  --bg-color-3: rgb(100, 100, 100);
  --bg-color-4: rgb(150, 150, 150);
  --color: rgb(255, 255, 255);
  --color-complete: rgb(0, 200, 0);
  --color-error: rgb(255, 50, 50);
  --color-gray: rgb(180, 180, 180);
  --color-incomplete: rgb(230, 200, 20);
  --level-block: rgb(174, 101, 100);
  --level-block-border: rgb(215, 155, 154);
  --level-end: rgb(255, 255, 255);
  --level-grid: rgb(100, 118, 50);
  --level-grid-text: rgb(0, 0, 0);
  --level-grid-text-extra: rgb(181, 12, 12);
  --level-grid-used: rgb(126, 152, 26);
  --level-hole: rgb(51, 51, 51);
  --level-hole-border: rgb(100, 100, 100);
  --level-player: rgb(40, 40, 40);
  --level-player-extra: rgb(199, 44, 44);
  --level-player-text: rgb(255, 255, 255);
  --level-wall: rgb(0, 0, 0);
}

.theme-dark {
  --bg-color: rgb(0, 0, 0);
  --bg-color-2: rgb(0, 0, 0);
  --bg-color-3: rgb(50, 50, 50);
  --bg-color-4: rgb(80, 80, 80);
  --color: rgb(255, 255, 255);
  --color-complete: rgb(0, 200, 0);
  --color-error: rgb(255, 50, 50);
  --color-gray: rgb(180, 180, 180);
  --color-incomplete: rgb(230, 200, 20);
  --level-block: rgb(0, 0, 0);
  --level-block-border: rgb(200, 139, 97);
  --level-end: rgb(255, 255, 255);
  --level-grid: rgb(120, 120, 120);
  --level-grid-text: rgb(0, 0, 0);
  --level-grid-text-extra: rgb(255, 60, 60);
  --level-grid-used: rgb(90, 90, 90);
  --level-hole: rgb(30, 30, 30);
  --level-hole-border: rgb(60, 60, 60);
  --level-player: rgb(255, 165, 0);
  --level-player-extra: rgb(255, 55, 55);
  --level-player-text: rgb(0, 0, 0);
  --level-wall: rgb(0, 0, 0);
}

.theme-light {
  --bg-color: rgb(255, 255, 255);
  --bg-color-2: rgb(255, 255, 255);
  --bg-color-3: rgb(220, 220, 220);
  --bg-color-4: rgb(150, 150, 150);
  --color: rgb(0, 0, 0);
  --color-complete: rgb(0, 218, 0);
  --color-error: rgb(255, 50, 50);
  --color-gray: rgb(100, 100, 100);
  --color-incomplete: rgb(224, 192, 0);
  --level-block: rgb(181, 164, 110);
  --level-block-border: rgb(216, 210, 156);
  --level-end: rgb(255, 181, 181);
  --level-grid: rgb(153, 204, 254);
  --level-grid-text: rgb(0, 0, 0);
  --level-grid-text-extra: rgb(255, 60, 60);
  --level-grid-used: rgb(172, 214, 255);
  --level-hole: rgb(98, 98, 98);
  --level-hole-border: rgb(165, 165, 165);
  --level-player: rgb(64, 254, 64);
  --level-player-extra: rgb(244, 86, 86);
  --level-player-text: rgb(0, 0, 0);
  --level-wall: rgb(76, 100, 127);
}

.theme-modern {
  --bg-color: rgb(38, 38, 38);
  --bg-color-2: rgb(50, 50, 50);
  --bg-color-3: rgb(80, 80, 80);
  --bg-color-4: rgb(130, 130, 130);
  --color: rgb(255, 255, 255);
  --color-complete: rgb(0, 200, 0);
  --color-error: rgb(255, 50, 50);
  --color-gray: rgb(180, 180, 180);
  --color-incomplete: rgb(230, 200, 20);
  --level-block: rgb(0, 0, 0);
  --level-block-border: rgb(183, 119, 57);
  --level-end: rgb(229, 229, 229);
  --level-grid: rgb(14, 168, 117);
  --level-grid-text: rgb(0, 0, 0);
  --level-grid-text-extra: rgb(255, 60, 60);
  --level-grid-used: rgb(4, 120, 87);
  --level-hole: rgb(65, 65, 65);
  --level-hole-border: rgb(106, 106, 106);
  --level-player: rgb(244, 114, 182);
  --level-player-extra: rgb(244, 86, 86);
  --level-player-text: rgb(0, 0, 0);
  --level-wall: rgb(38, 38, 38);
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip {
  z-index: 100;
}

#tooltip[data-popper-placement^='top']>#arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom']>#arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left']>#arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right']>#arrow {
  left: -4px;
}

svg.star-svg {
  display: inline;
}

.bg-button {
  background-color: var(--bg-color-3);
}

.bg-button:hover {
  background-color: var(--bg-color-4);
}

.glow {
  animation: glow 1s ease-in-out infinite alternate;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  /* glow purplish text-shadow */
  from {
    text-shadow: 0 0 10px rgb(153, 76, 76), 0 0 20px rgb(45, 29, 127), 0 0 30px rgb(104, 186, 21), 0 0 40px rgb(59, 115, 82), 0 0 50px rgb(166, 8, 39), 0 0 60px #fff, 0 0 70px #fff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.flashBackground {
  /* flash once */
  animation: flashBackground 2s ease-in-out alternate;
  -webkit-animation: flashBackground 2s ease-in-out alternate;
}

@keyframes flashBackground {
  from {
    background-color: var(--bg-color-3);
  }
  to {
    background-color: inherit;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.qtip {
  position: relative;
  /* make an info cursor 
  options are help or info
  */
  cursor: help;
  z-index: 9999;
  transform: translateZ(1px);

  
  
}


.qtip:before,
.qtip:after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transition: 0.3s ease-in-out 0.1s;
}

.qtip:after {
  content: attr(data-tooltip);
  background: var(--bg-color);
  border-width: 2px;
  border-color: var(--bg-color-4);
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  font-size: 0.7rem;
  box-sizing: border-box;
  top: calc(100% + 1px);
  color: var(--color);
  border-radius: 8px;
  text-overflow: ellipsis;
  z-index: 999;
  min-width: max-content;
  text-align: center;
}

.qtip:hover:before,
.qtip:hover:after {
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out 0.5s;
}

.bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

/* nprogress */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  
  top: 0%;
  left: 50%;
  transform: translate(-50%,75%);
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
